@charset "utf-8";

.header{
	border-bottom:3px solid #fff;
	max-width: 980px;
	margin:50px auto;
	position:relative;
}
.header h1, .header > p{
	text-align: center;
}
.logo{
	position:absolute;
	left:100px;
	top:50%;
	margin-top:-38px;
}
.box1{
	background-color: rgba(255,0,0,0.65);
}